<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


<!-- Model Environment Extension point Declaration -->

   <extension-point id="org.eclipse.emf.diffmerge.patterns.ui.modelenvironmentui" 
   			name="Model Environment UI" 
   			schema="schema/modelEnvironmentUI.exsd"/>


<!-- Page Factory Extension point Declaration -->


<!-- Actions Factory Extension point Declaration -->


<!-- Job Factory Extension point Declaration -->

	<extension-point id="org.eclipse.emf.diffmerge.patterns.ui.jobFactory" name="jobFactory" schema="schema/JobFactory.exsd"/>

<!-- Dialog and Wizard Factory Extension point Declaration -->

	<extension-point id="org.eclipse.emf.diffmerge.patterns.ui.dialogAndWizardFactory" name="dialogAndWizardFactory" schema="schema/DialogAndWizardFactory.exsd"/>
 
 <!-- ISemanticUI Util Extension point Declaration -->
 
 	<extension-point id="org.eclipse.emf.diffmerge.patterns.ui.uiextender" name="UIExtender" schema="schema/UIExtender.exsd"/>

  
</plugin>
