<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 <copyright>
 
  Copyright (c) 2010-2014 Thales Global Services S.A.S.
  All rights reserved. This program and the accompanying materials
   are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
   Contributors:
  Thales Global Services S.A.S - initial API and implementation
  
 </copyright>
-->
<plugin>
    <extension
         point="org.eclipse.emf.diffmerge.patterns.core.idProvider">
      <client
            class="org.eclipse.emf.diffmerge.patterns.diagrams.umldesigner.ext.UMLDesignerIdProvider"></client>
   </extension>

	<extension
         point="org.eclipse.emf.diffmerge.patterns.core.modelEnvironment">
      <client
            class="org.eclipse.emf.diffmerge.patterns.diagrams.umldesigner.ext.UMLDesignerModelEnvironment">
      </client>
   </extension>

 	<extension
         point="org.eclipse.emf.diffmerge.patterns.templates.engine.semanticRuleProvider">
      <client
            class="org.eclipse.emf.diffmerge.patterns.diagrams.umldesigner.ext.UMLDesignerRuleProvider">
      </client>
   </extension>
   
   <!--extension
         point="org.eclipse.emf.diffmerge.patterns.core.deleteOperationProvider">
      <client
            class="org.eclipse.emf.diffmerge.patterns.diagrams.umldesigner.ext.UMLDesignerDeleteOperationProvider">
      </client>
   </extension-->
   
   <extension
         point="org.eclipse.emf.diffmerge.patterns.diagrams.semanticMapping">
      <client
            class="org.eclipse.emf.diffmerge.patterns.diagrams.umldesigner.ext.UMLDesignerSemanticMapping">
      </client>
   </extension>
   
   <!-- Declaring the PatternCatalogXMIResourceFactory mapping -->
   
   <!--extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="org.eclipse.emf.diffmerge.patterns.diagrams.umldesigner.resources.PatternCatalogXMIResourceFactoryImpl"
            supportedTypes="PatternRepository"
            uri="http://org.eclipse.com/emf/diffmerge/patterns/core/1.0.0">
      </factory>
   </extension-->
   
</plugin>
