<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CommonPatternSupport -->
      <package
            uri="http://org.eclipse.emf.patterns/support/1.0.0"
            class="org.eclipse.emf.diffmerge.patterns.support.gen.commonpatternsupport.CommonpatternsupportPackage"
            genModel="model/CommonPatternSupport.genmodel"/>
   </extension>

</plugin>
