<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.emf.diffmerge.patterns.ui.modelenvironmentui">
      <client
            class="org.eclipse.emf.diffmerge.patterns.ui.umldesigner.ext.UMLDesignerModelEnvironmentUI">
      </client>
   </extension>

</plugin>
