<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 <copyright>
 
  Copyright (c) 2010-2014 Thales Global Services S.A.S.
  All rights reserved. This program and the accompanying materials
   are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
   Contributors:
  Thales Global Services S.A.S - initial API and implementation
  
 </copyright>
-->
<plugin>
   <extension-point id="textualLanguageInterpreterFacade" name="TextualLanguageInterpreterFacade" schema="schema/textualLanguageInterpreterFacade.exsd"/>
   <extension-point id="semanticRuleProvider" name="SemanticRuleProvider" schema="schema/SemanticRuleProvider.exsd"/>
   <extension
         point="org.eclipse.emf.diffmerge.patterns.templates.gen.templatePatternsEngine">
      <client
            class="org.eclipse.emf.diffmerge.patterns.templates.engine.TemplatePatternEngine">
      </client>
   </extension>

</plugin>
